/* Цвета */
:root {
  --darkgrey-bg: #222831;
  --light-text: #FAFAFA;
  --accent-color: #008A90;
  --description-color: #818181;
  --text-menu: 12px;
}

/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.darkgrey-bg {
  background-color: var(--darkgrey-bg);
}

body {
  background-color: #FAFAFA;
  font-family: "Inter", sans-serif;
}

/* Хедер */
.header {
  background-color: var(--darkgrey-bg);
  padding: 15px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Контейнер */
.container {
  max-width: 1280px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin: 0 auto;
}

/* Логотип и название */
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand__logo {
  width: 16px;
  height: 22px;
}

.brand__name {
  color: var(--light-text);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

/* Навигация */
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Список меню */
.navbar__list {
  display: flex;
  list-style-position: none;
  justify-content: flex-end;
  gap: 12px;
  width: 1145px;
  height: 43px;
}

.navbar__list-item {
  color: var(--light-text);
  font-weight: 600;
  font-size: var(--text-menu);
  line-height: 19px;
  transition: 0.3s;
  padding: 5px 10px;
  cursor: default;
  /* Убираем указатель */
  pointer-events: none;
  /* Отключаем кликабельность */
}

.navbar__list-item:hover,
.navbar__list-item--active {
  display: flex;
  justify-content: flex-end;
  border: 1px solid var(--light-text);
  border-radius: 4px;
  margin: 8px 8px;
  color: #FAFAFA;
  font-size: 12px;
  font-weight: 400;
  padding: 12px 20px 12px 20px;
  width: 97px;
  height: 43px;
  gap: 4px;
}

/* Кнопка */
.navbar__button {
  background-color: var(--accent-color);
  color: var(--light-text);
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0%;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  height: 43px;
  width: 135px;
}

.navbar__button:hover {
  background-color: var(--accent-color);
}

.about-techno {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-techno__container {
  display: flex;
  width: 1280px;
  height: 725px;
  justify-content: space-between;
  align-items: center;
}

.subheader__text {
  width: 592px;
  height: 282px;
  margin-left: 24px;
  text-align: left;
}

.subheader__title {
  font-weight: 700;
  font-size: 67px;
  line-height: 70px;
  letter-spacing: -2%;
  width: 592px;
  height: 140px;
}

.text__description {
  font-size: 22px;
  font-weight: 400;
  color: #818181;
  line-height: 28px;
  padding-top: 16px;
  padding-left: 40px;
}

.techno__button {
  background-color: var(--accent-color);
  border: none;
  color: var(--light-text);
  cursor: pointer;
  width: 360px;
  height: 57px;
  max-width: 360px;
  gap: 4px;
  border-radius: 4px;
  padding: 16px 48px 16px 48px;
  margin-right: 232px;
  margin-bottom: 120px;
  margin-top: 40px;
}

.techno-image {
  margin-right: 0px;
  width: 640px;
  height: 725px;
}

.projects {
  padding-top: 120px;
  padding-right: 16px;
  padding-bottom: 120px;
  padding-left: 16px;
  gap: 40px;
}

.projects__container {
  background-color: var(--darkgrey-bg);
  width: 1280px;
  height: 1208px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.vision-img {
  width: 1248px;
  height: 516px;
  min-width: 256px;
  min-height: 320px;
  gap: 8px;
  padding: 24px;
  border-radius: 16px;
}

.brain-img {
  width: 612px;
  height: 420px;
  min-width: 256px;
  min-height: 320px;
  border-radius: 16px;
  padding: 24px;
  gap: 8px;
}

.screen-img {
  width: 612px;
  height: 420px;
  min-width: 256px;
  min-height: 320px;
  border-radius: 16px;
  padding: 24px;
  gap: 8px;
}

.about-us {
  background-color: var(--light-text);
  padding-top: 144px;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 144px;
}

.about-us__container {
  width: 100%;
  height: 225px;
  max-width: 1280px;
  margin: 0;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.about-us__subtitle {
  padding-left: 128px;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 20px;
  color: #00ADB5;
  height: 34px;
}

.about-us__description {
  padding-left: 128px;
  font-size: 51px;
  font-weight: 700;
  color: var(--description-color);
  line-height: 61px;
}

.analytic {
  background-color: #f9f9f9;
  height: 602px;
  width: 1280px;
}

.container__analytic {
  display: flex;
  text-align: center;
  padding-left: 240px;
}

.analytic__title {
  color: #222831;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -1%;
}

.analytic__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #818181;
  line-height: 24px;
}

.analytic__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.analytic__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(content/sms1.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 24px;
  padding-top: 40px;
  text-align: center;
}

.analytic__item h2 {
  font-size: 18px;
  color: #222;
  margin-top: 16px;
}

.analytic__description {
  font-size: 14px;
  font-weight: 400;
  color: #818181;
  line-height: 21px;
  margin-top: 8px;
  padding: 0 10px;
}

.our-team {
  color: white;
}

.team__title {
  font-size: 51px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2%;
  color: var(--light-text);
  padding: 144px 240px 85px 144px;
}

.description {
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  padding-top: 16px;
  padding-right: 200px;
  padding-bottom: 40px;
  padding-left: 200px;
  color: #FFFFFF;
}

.team__list {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  height: 752px;
  gap: 95px;
  margin-left: 40px;
  margin-right: 40px;
}

.team__member {
  width: 276px;
  height: 318px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.member:hover {
  transform: translateY(-5px);
}

.member img {
  border-radius: 10px;
  height: 256px;
  width: 276px;
  border-radius: 16px;
}

.member__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  padding-left: 40px;
}

.about__member {
  font-size: 1rem;
  color: #bbb;
  padding-left: 40px;
}

.our-work {
  padding: 50px 20px;
  color: white;
}

.work__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  gap: 40px;
  max-width: 450px;
}

.work__image {
  width: 512px;
  height: 320px;
  margin: 80px 108px 56px 40px;
  border-radius: 16px;
}

.work__content {
  max-width: 450px;
}

.work__title {
  color: var(--light-text);
  font-size: 51px;
  font-weight: 700;
}

.work__text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  padding-top: 16px;
  padding-right: 108px;
}

.work__button {
  background-color: #00a6a6;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.work__button:hover {
  background-color: #009090;
}

.process__container {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  padding: 40px 20px;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 280px;
  margin-left: 108px;
  margin-right: 108px;
  margin-top: 56px;
  margin-bottom: 80px;
}

.process img {
  width: 32px;
  height: 32px;
}

.process__title {
  font-size: 18px;
  font-weight: 600;
  padding-top: 8px;
  color: var(--light-text);
}

.process__text {
  padding-top: 8px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  max-width: 250px;
}

.footer {
  background-color: var(--darkgrey-bg);
  padding: 15px 0;
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  /* Лого слева, соцсети справа */
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  position: relative;
}

/* Левая часть - логотип */
.brand__footer {
  display: flex;
  flex-direction: column;
  /* Размещаем элементы вертикально */
  align-items: center;
  gap: 4px;
  /* Регулируем расстояние между иконкой и текстом */
}

.brand__logo {
  width: 28px;
  height: 24px;
}

.brand__name {
  font-weight: 600;
  font-size: 14px;
  color: var(--light-text);
  text-align: center;
}

/* Центральная часть - меню и копирайт */
.footer__center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.footer__navbar {
  display: flex;
  gap: 32px;
}

.footer__list {
  color: var(--light-text);
  font-weight: 600;
  font-size: 12px;
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
}

.copyright {
  margin-top: 8px;
  font-size: 12px;
  color: var(--light-text);
}

/* Правая часть - соцсети */
.social {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Media */

/* Адаптивность под планшеты и мобильные устройства */
@media (max-width: 1280px) {

  .container,
  .about-techno__container,
  .projects__container,
  .analytic,
  .team__list {
    width: 100%;
    padding: 0 16px;
  }

  .techno-image {
    width: 100%;
    height: auto;
  }

  .work__image {
    width: 100%;
    height: auto;
    margin: 40px 0;
  }
}

@media (max-width: 1024px) {
  .navbar__list {
    flex-wrap: wrap;
    gap: 8px;
    width: auto;
    height: auto;
  }

  .about-techno__container {
    flex-direction: column;
    height: auto;
    padding: 40px 16px;
    text-align: center;
  }

  .subheader__title {
    font-size: 48px;
    line-height: 54px;
    width: auto;
    height: auto;
  }

  .techno__button {
    margin: 20px auto;
    width: 100%;
  }

  .projects__images {
    flex-direction: column;
    align-items: center;
  }

  .vision-img,
  .brain-img,
  .screen-img {
    width: 100%;
    height: auto;
  }

  .team__title {
    font-size: 42px;
    padding: 100px 80px 40px 80px;
    text-align: center;
  }

  .description {
    font-size: 20px;
    padding: 0 40px 40px 40px;
    text-align: center;
  }

  .team__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
  }

  .team__member {
    width: 240px;
    height: auto;
  }

  .member img {
    width: 100%;
    height: auto;
  }

  .member__name,
  .about__member {
    padding-left: 0;
    text-align: center;
  }

  .work__container {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 100%;
  }

  .work__image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0;
  }

  .work__content {
    text-align: center;
    max-width: 90%;
  }

  .work__text {
    padding: 16px 0;
    padding-right: 0;
  }

  .work__title {
    font-size: 42px;
  }
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    gap: 16px;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar__button {
    width: 100%;
  }

  .about-techno__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 40px 20px;
  }

  .subheader__text {
    width: 100%;
    margin-left: 0;
    text-align: center;
    height: auto;
  }

  .subheader__title {
    font-size: 48px;
    line-height: 54px;
    width: auto;
    height: auto;
  }

  .text__description {
    font-size: 18px;
    padding-left: 0;
    padding-top: 12px;
    line-height: 26px;
  }

  .techno__button {
    width: 100%;
    margin: 24px 0;
    padding: 14px 24px;
    max-width: 300px;
  }

  .techno-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 24px;
  }

  .about-us {
    padding: 80px 24px;
  }

  .about-us__subtitle,
  .about-us__description {
    padding-left: 0;
    text-align: center;
  }

  .analytic__items {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .team__title {
    font-size: 32px;
    padding: 60px 20px 30px 20px;
  }

  .description {
    font-size: 16px;
    padding: 0 20px 30px 20px;
  }

  .team__member {
    width: 100%;
    max-width: 300px;
  }

  .team__list {
    gap: 24px;
  }

  .member__name {
    font-size: 16px;
  }

  .about__member {
    font-size: 14px;
  }

  .footer__container {
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  .footer__center {
    position: static;
    transform: none;
  }

  .footer__navbar {
    flex-direction: column;
    gap: 16px;
  }

  .work__title {
    font-size: 32px;
  }

  .work__text {
    font-size: 16px;
  }

  .work__button {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    font-size: 1rem;
  }

  .work__image {
    width: 700px;
    height: 500px;
    border-radius: 12px;
  }
}


@media (max-width: 480px) {
  .subheader__title {
    font-size: 36px;
    line-height: 40px;
  }

  .text__description {
    font-size: 16px;
    padding-left: 0;
  }

  .work__title {
    font-size: 32px;
  }

  .work__text {
    font-size: 16px;
    padding-right: 0;
  }

  .work__image {
    max-width: 300px;
    height: 200px;
    border-radius: 12px;
  }

  .work__button {
    width: 100%;
  }

  .process__container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .process {
    margin: 0;
    align-items: center;
  }

  .team__member {
    width: 100%;
  }

  .member img {
    width: 100%;
    height: auto;
  }
}